pillow
olefile
pyserial==3.4
tenacity==6.2.0
coverage
hypothesis
matplotlib
numpy
imageio
networkx
scipy
scikit-image
scikit-learn
pyperclip
requests
wget
opencv-python
flask
flask_cors
flask_restful
pylint
pytest
pytest-cov
ipython
ipdb
jupyter
jupyterlab
jstyleson
chardet
pdftotext
pdfminer
pdf2image
pytesseract
bs4
pelutils
click
ujson
tensorflow
pyicu
transformers
