pillow>=8.3.2
olefile>=0.46
pyserial==3.4
tenacity==6.2.0
coverage>=5.5
hypothesis>=6.22.0
matplotlib>=3.4.3
numpy>=1.21.2
imageio>=2.9.0
networkx>=2.6.3
scipy>=1.7.1
scikit-image>=0.18.3
scikit-learn>=1.0
pyperclip>=1.8.2
requests>=2.26.0
wget>=3.2
opencv-python>=4.5.3.56
flask>=2.0.1
flask_cors>=3.0.10
flask_restful>=0.3.9
pylint>=2.11.1
pytest>=6.2.5
pytest-cov>=2.12.1
ipython>=7.28.0
ipdb>=0.13.9
jupyter>=1.0.0
jupyterlab>=3.1.13
jstyleson>=0.0.2
chardet>=4.0.0
pdfminer>=20191125
pdf2image>=1.16.0
pytesseract>=0.3.8
beautifulsoup4>=4.10.0
pelutils>=0.6.7
click>=8.0.1
ujson>=4.1.0
tensorflow>=2.6.0
pyicu>=2.7.4
transformers>=4.10.3
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch==1.10.2+cpu
torchvision==0.11.3+cpu
torchaudio==0.10.2+cpu
